@using TaskTranning.Resources
@inject ResourcesServices<HomeResource> Localizer
@{
    ViewData["Title"] = Localizer.GetLocalizedHtmlString("lbl_TitleHome");
    Layout = "_NavbarDataTable";
}
<div class="container">
    <div class="text-center" style="background-color: 	#daffb3">
        <h1 class="display-4" style="margin-top: 50px; margin-bottom: 50px;">@Localizer.GetLocalizedHtmlString("lbl_Welcome")</h1>
        <h2 style="margin-bottom: 100px; color: deepskyblue">@Localizer.GetLocalizedHtmlString("lbl_CurriculumVitae")</h2>
        <div class="row">
            <div class="col-5">
                 <img src="~/image/logo.jpg" width="100" height="70"/>
                 <div class="row" style="margin-top: 50px;">
                     <div class="col-3"><img src="~/image/peole.png" width="50" height="50"/></div>
                     <div class="col-9" style="line-height: 50px;">NGUYEN VAN KHANH</div>
                 </div>
                 <div class="row" style="margin-top: 10px;">
                     <div class="col-3"><img src="~/image/cake.png" width="50" height="50"/></div>
                     <div class="col-9" style="line-height: 50px;">16-02-1997</div>
                 </div>
                 <div class="row" style="margin-top: 10px;">
                     <div class="col-3" style="line-height:72px;"><img src="~/image/address.png" width="50" height="50"/></div>
                     <div class="col-9">@Localizer.GetLocalizedHtmlString("lbl_Address")</div>
                 </div>
                 <div class="row" style="margin-top: 10px;">
                     <div class="col-3"><img src="~/image/phone.png" width="50" height="50"/></div>
                     <div class="col-9" style="line-height: 50px;">0364.606.406</div>
                 </div>
                 <div class="row" style="margin-top: 10px;">
                     <div class="col-3"><img src="~/image/email.png" width="50" height="50"/></div>
                     <div class="col-9">khanhtmd97@gmail.com  khanh.nv@3si.com.vn</div>
                 </div>
                 <div class="row" style="margin-top: 10px;">
                     <div class="col-3"><img src="~/image/facebook.png" width="50" height="50"/></div>
                     <div class="col-9" style="line-height: 50px;">https://www.facebook.com/vankhanh.nguyen.77964201</div>
                 </div>
             </div>
             <div class="col-1"></div>
             <div class="col-6">
                 <h2 class="text-center text-primary">@Localizer.GetLocalizedHtmlString("lbl_Target")</h2>
                 <h4 class="text-left text-danger">@Localizer.GetLocalizedHtmlString("lbl_CurrentGoals")</h4>
                 <div class="row">
                     <div class="col-1"></div>
                     <div class="col-11 text-left">
                         <p>❀ @Localizer.GetLocalizedHtmlString("lbl_CompleteCompany")</p>
                         <p>❀ @Localizer.GetLocalizedHtmlString("lbl_GetCollege")</p>
                     </div>
                 </div>
                 <h4 class="text-left text-danger">@Localizer.GetLocalizedHtmlString("lbl_FutureGoals")</h4>
                 <div class="row">
                     <div class="col-1"></div>
                     <div class="col-11 text-left">
                         <p>❀ @Localizer.GetLocalizedHtmlString("lbl_BecomeMember")</p>
                         <p>❀ @Localizer.GetLocalizedHtmlString("lbl_LeaderCompany")</p>
                     </div>
                 </div>
                 <hr style="border: 3px dashed;">
                 <h2 class="text-center text-primary">@Localizer.GetLocalizedHtmlString("lbl_Education")</h2>
                 <div class="row">
                     <div class="col-1"></div>
                     <div class="col-11 text-left">
                         <p>❀ <b>@Localizer.GetLocalizedHtmlString("lbl_University")</b></p>
                         <div class="row">
                             <div class="col-7">
                                 <p>❀ <b>@Localizer.GetLocalizedHtmlString("lbl_Specialized")</b> @Localizer.GetLocalizedHtmlString("lbl_Information")</p>
                             </div>
                             <div class="col-5">
                                 <p class="text-right text-danger"><b>2015-2019</b></p>
                             </div>
                         </div>
                         <p>❀<b> @Localizer.GetLocalizedHtmlString("lbl_Degree"):</b> @Localizer.GetLocalizedHtmlString("lbl_university")</p>
                         <p>❀<b> @Localizer.GetLocalizedHtmlString("lbl_Graduation"):</b> @Localizer.GetLocalizedHtmlString("lbl_Great")</p>
                     </div>
                 </div>
             </div>
         </div>
         <hr style="border: 2px dotted;">
         <div class="row">
             <div class="col-6">
                 <h2 class="text-center text-primary">@Localizer.GetLocalizedHtmlString("lbl_Skill")</h2>
                 <div class="text-left">
                     <p>❀ HTML 5, CSS, Sublime Text, jetBrains Rider, Visual Studio,..</p>
                     <p>❀ Laravel, PHP, Dotnet MVC, C#,...</p>
                     <p>❀ <b class="text-danger">@Localizer.GetLocalizedHtmlString("lbl_English")</b></p>
                     <div class="row">
                         <div class="col-12">
                             <div class="row">
                                 <div class="col-6">
                                     <div class="row">
                                         <div class="col-4">
                                             <p><b>@Localizer.GetLocalizedHtmlString("lbl_Listen"):</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ★ ☆ ☆
                                         </div>
                                         <div class="col-4">
                                             <p><b>@Localizer.GetLocalizedHtmlString("lbl_Speak"):</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ☆ ☆ ☆
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-6">
                                     <div class="row">
                                         <div class="col-4">
                                             <p><b>@Localizer.GetLocalizedHtmlString("lbl_Read"):</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ★ ☆ ☆
                                         </div>
                                         <div class="col-4">
                                             <p><b>@Localizer.GetLocalizedHtmlString("lbl_Write"):</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ★ ☆ ☆
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <p>❀ <b class="text-danger">@Localizer.GetLocalizedHtmlString("lbl_InformationTechnology")</b></p>
                     <div class="row">
                         <div class="col-12">
                             <div class="row">
                                 <div class="col-6">
                                     <div class="row">
                                         <div class="col-4">
                                             <p><b>Word:</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ★ ★ ☆
                                         </div>
                                         <div class="col-4">
                                             <p><b>Excel:</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ★ ☆ ☆
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-6">
                                     <div class="row">
                                         <div class="col-4">
                                             <p><b>PowerPoint:</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ★ ★ ☆
                                         </div>
                                         <div class="col-4">
                                             <p><b>OutLook:</b></p>
                                         </div>
                                         <div class="col-8">
                                             ★ ★ ★ ☆ ☆
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
            <div class="col-6">
                <h2 class="text-center text-primary">@Localizer.GetLocalizedHtmlString("lbl_Experience")</h2>
                <div class="text-left">
                    <p>❀ @Localizer.GetLocalizedHtmlString("lbl_Learn")</p>
                    <p>❀ @Localizer.GetLocalizedHtmlString("lbl_Bulid")</p>
                    <p>❀ @Localizer.GetLocalizedHtmlString("lbl_LearnLanguage")</p>
                    <p>❀ @Localizer.GetLocalizedHtmlString("lbl_Interns")</p>
                </div>
            </div>
        </div>
    </div>
</div>